name: "Test Suite"

on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to run tests on"
        required: true
        default: "main"

permissions:
  contents: read

jobs:
  tests:
    name: "Test ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-20.04, windows-latest, macos-latest]

    steps:
      # Checkout the requested branch
      - name: Harden Runner
        uses: step-security/harden-runner@1b05615854632b887b69ae1be8cbefe72d3ae423 # v2.6.0
        with:
          egress-policy: audit

      - name: checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          ref: "${{ github.event.inputs.branch }}"
          fetch-depth: 0

      # Fix timestamps
      - name: restore timestamps
        uses: ./

      # Check timestamps
      - name: validate
        shell: bash
        run: |
          e=1699988248
          if [[ "$OSTYPE" == *'darwin'* ]]; then
            t=$(stat -f %m LICENSE)
          else
            t=$(stat --format="%Y" LICENSE)
          fi
          if [[ $t -ne $e ]]; then
            echo "timestamp for LICENSE was '$t'; expected 1699988248"
            exit 1
          fi
